.container {
    background-color: #182f65;
    padding: 1rem 4rem 4rem 4rem;
    color: white;

}

.container h1 {
    color: #ffd418;
    text-transform: uppercase;

}

.contacto {
    display: flex;
}


.redes {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redes ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 18px;
}

.redes ul li {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.formulario form {
    width: 100%;
}

.inputs {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .container {
        padding: 1rem 2rem 2rem 2rem;
    }

    .container h1 {
        font-size: 40px;
        margin: .5rem 0;
    }

    .contacto {
        flex-direction: column-reverse;
    }

    .redes {
        width: 100%;
        justify-content: start;
        align-items: start;
    }

    .redes ul {
        padding: 0;
        font-size: 14px;
    }

    .formulario {
        width: 100%;
    }
}