.header {
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #182f65;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.headerTop {
    position: relative;
    /* Para posicionar correctamente el botón */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 1rem;

}

.logoContainer {
    display: flex;
    justify-content: center;
    /* flex-grow: 1; */
    /* Permite que ocupe el espacio disponible */
}

.logo {
    height: 100px;
}

.login:hover {
    color: grey
}

.login {
    position: absolute;
    right: 6%;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;

}

.login p {
    margin: 0;
}


.menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    list-style: none;
    padding: 0px;
}

.menu li button {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
    border: none;
    outline: none;
    user-select: none;
    padding: 0px;
    font-size: 1.2rem;
}



.menu li:nth-child(4) button {
    color: #182f65;
    font-size: 18px;
    text-transform: none;
    background-color: white;
    border-radius: 8px;
    padding: 4px 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: .5rem;
    border: solid 1px #182f65;
    transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
    font-family: 'MontserratExtraBold', sans-serif;

}

.menu li:nth-child(4) button:hover {
    color: white !important;
    background-color: #182f65 !important;
    border: solid 1px white !important;
    text-decoration: none;

}


button {
    background: none;
    border: none;
    cursor: pointer;
    border: none;
    outline: none;
    user-select: none;
    padding: 0px;
}

button:focus {
    outline: none;
}

@media (max-width: 768px) {
    .header {
        padding: 0rem 0rem;
    }

    .headerTop {
        padding: 1rem 0rem;
        justify-content: space-between;
        background-color: #182f65;
        position: relative;
        z-index: 100;
    }

    .login {
        position: initial;
        padding-right: 2rem;
    }

    .login p {
        display: none;
    }

    .menuButton {
        padding-left: 2rem;
        color: white;
    }

    .mobileMenu {
        width: 100%;
        position: fixed;
        background: #182f65;
        top: 130px;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
        opacity: 0;
        visibility: hidden;
        z-index: 50;
    }

    .mobileMenu ul {
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
    }

    .mobileMenu ul li {
        margin: 1rem 0;
    }


    .mobileMenu ul li button {
        color: white;
        font-size: 20px;
    }

    .menuOpen {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        z-index: 50;
    }

    .mobileMenu li:nth-child(4) button {
        color: #182f65 !important;
        font-size: 18px;
        text-transform: none;
        background-color: white;
        border-radius: 8px;
        padding: 4px 12px;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: .5rem;
        border: solid 1px #182f65;
        transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
        font-family: 'MontserratExtraBold', sans-serif;

    }




}