.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    background-color: #182f65;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.headerTop {
    position: relative;
    /* Para posicionar correctamente el botón */
    padding: 0 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logoContainer {
    display: flex;
    justify-content: center;
    /* flex-grow: 1; */
    /* Permite que ocupe el espacio disponible */
}

.logo {
    height: 100px;
}

.login:hover {
    color: grey
}

.login {
    position: absolute;
    right: 6%;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;

}


.menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    list-style: none;
    padding: 0px;
}

.menu li button {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
    border: none;
    outline: none;
    user-select: none;
    padding: 0px;
    font-size: 1.2rem;
}



.menu li:nth-child(4) button {
    color: #182f65;
    font-size: 18px;
    text-transform: none;
    background-color: white;
    border-radius: 8px;
    padding: 4px 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: .5rem;
    border: solid 1px #182f65;
    transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
    font-family: 'MontserratExtraBold', sans-serif;

}

.menu li:nth-child(4) button:hover {
    color: white !important;
    background-color: #182f65 !important;
    border: solid 1px white !important;
    text-decoration: none;

}


button {
    background: none;
    border: none;
    cursor: pointer;
    border: none;
    outline: none;
    user-select: none;
    padding: 0px;
}

button:focus {
    outline: none;
}